<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>
http://app.xmvip.vip/o_1cn8s2m201lih1qgmhl81dmulbo9.ipa
</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://www.cydialmg.cc/mianfei/index_files/lmg.png</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://www.cydialmg.cc/mianfei/index_files/lmg.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.pangu.small</string>
<key>bundle-version</key>
<string>6.6.7</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string> 微信 vip</string>
<key>title</key>
<string> ccc 测试</string>
</dict>
</dict>
</array>
</dict>
</plist>